DATABASE_URL="postgresql://postgres:5432@localhost:5432/Vape-evdakimov"
FRONTEND_URL="http://localhost:5173"
JWT_SECRET="your-secret-key-change-in-production"
TELEGRAM_BOT_TOKEN="7904743189:AAEpqCbEAglVMGUGmRN6yOHho5QN7YfHOjk"
ADMIN_TELEGRAM_ID="1962376006"
PORT=3001
