.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-body {
  flex: 1;
  padding-top: 260px;
  width: 100%;
}

@media (max-width: 992px) {
  .layout-body {
    padding-top: 170px;
  }
}

@media (max-width: 600px) {
  .layout-body {
    padding-top: 150px;
  }
}

.main-content {
  flex: 1;
  width: 100%;
}
